html,
body {
	padding: 0;
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
		Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
	color: inherit;
	text-decoration: none;
}

* {
	box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
	html {
		color-scheme: dark;
	}
	body {
		color: white;
		background: black;
	}
}

main {
	padding: 20px;
	background: linear-gradient(150.23deg, #303131 2.5%, #b8b8b8 103.82%);
	min-height: 100vh;
	overflow: scroll;
}

.screen {
	background: #171717;
	box-shadow: inset 4px 11px 13px 8px rgba(0, 0, 0, 0.45);
	border-radius: 32px;
	overflow: scroll;
	height: calc(100vh - 40px);
	padding: 24px;
	background: url("../public/sesso.jpg") no-repeat center center;
	background-size: cover;
}

.content {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
	max-width: 968px;
	margin: auto;
}
